
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: normal;
    /*font-size: clamp(0.8em, 1em, 1.5rem);*/
    min-height: 100vh;
    background-color: var(--grey-100);
}

main {
    display: grid;
    gap: 1em;
    margin: 2.5em 1.8em;
    max-width: 65em;

    .ref {
        position: relative;
        width: 100%;
        margin: 1rem 0;
        background-color: var(--white);
        padding: 2.2em 1.8em;
        border-radius: 0.6em;
        box-shadow: 3em 3em 2em var(--grey-200);

        header {
            display: flex;
            align-items: center;
            margin-block-end: 1em;
            gap: 0.5em;

            img {
                border-radius: 50%;
                width: 2.0em;
                height: 2.0em;
                margin-right: 0.6em;
            }

            h1 {
                font-size: 0.9rem;
                font-weight: bolder;
            }

            p {
                font-weight: normal;
                font-size: 0.75rem;
            }

            .quote {
                position: absolute;
                border-radius: 0;
                width: 6.5em;
                height: 6.5em;
                top: 0.1em;
                right: 3em;
            }
        }

        .blurb {
            position: relative;
            font-size: 1.2em;
            font-weight: 500;
            margin-block-end: 1.0rem;
            z-index: 10;
        }

        .pull-quote {
            font-size: 0.85rem;
            font-weight: 400;
        }
    }

    .ref-daniel {
        grid-area: daniel;
        background-color: var(--purple-500);
        color: var(--white);

        header img:first-child {
            border: solid 0.1rem var(--purple-300);
        }
    }

    .ref-johnathan {
        grid-area: johnathan;
        background-color: var(--grey-500);
        color: var(--grey-100);

        header img {
            /*border: solid 0.1rem var(--purple-300);*/
        }
    }

    .ref-jeanette {
        grid-area: jeanette;
        background-color: var(--white);
        color: var(--grey-500);

        header img {
            /*border: solid 0.1rem var(--purple-300);*/
        }
    }

    .ref-patrick {
        grid-area: patrick;
        background-color: var(--dark-blue);
        color: var(--grey-100);

        header img {
            border: solid 0.1rem var(--purple-500);
        }
    }

    .ref-kira {
        grid-area: kira;
        background-color: var(--white);
        color: var(--grey-400);

        header img {
            /*border: solid 0.1rem var(--purple-500);*/
        }
    }
}

@media screen and (max-width: 430px) {
    main {
        grid-template-areas:
            "daniel"
            "johnathan"
            "jeanette"
            "patrick"
            "kira";
    }
}

@media screen and (min-width: 431px) {
    main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "daniel daniel johnathan kira"
            "jeanette patrick patrick kira";

        .ref {
            margin: 0;
        }
    }
}
